.tablink {
    background-color:#343a40;
    float: left;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
  }
  
  .tablink:hover {
    background-color: #777;
    border: none;
    outline: none;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 20px;
    
  }
  .tabcontent img {
      padding-bottom: 30px;
  }
  .tabcontent h4 {
      padding-bottom: 20px;
  }
 