.tablink {
    background-color:#343a40;
    float: left;
    color: wheat;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
  }
  
  .tablink:hover {
    background-color: #777;
    border: none;
    outline: none;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 20px;
    
  }
  .tabcontent img {
      padding-bottom: 30px;
  }
  .tabcontent h4 {
      padding-top: 15px;
      font-family: freight-sans-pro;
      font-size: 18px;
      line-height: 1.8em;
      letter-spacing: .4px;
      font-weight:bold;
      font-style: normal;
      color:black;
  }
 #h3 h3 {
    font-family: freight-sans-pro;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: .4px;
    font-weight: 400;
    font-style: normal;
    color: rgba(31,37,38,.75);
 }