
.login_form {
    margin: auto;
    padding: 10px 20px 100px 20px;
    }
    .login_form .container {
        background-color:#000 ; opacity:0.8;
        margin: auto;
        padding: 30px;
    }
    
    .login_form form input {
        height: 40px;
        width: 20em;
        display:inline;
    }
    .login_form button {
        background: red;
        color: wheat;
       margin: auto;
       width: 16.5em;
       padding: 7px 0px 7px 0px;
       font-size: 17px;
       
    }
    .login_form form {
        text-align: center;
    }
    
    .login_form h2 {
        color: brown;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2.5em;
        padding-bottom: 20px;
        font-weight: bolder;
    }
    .login_form h3 {
        color: wheat;
        text-align: center;
    }
    
    
    
    .login_form a {
        text-decoration: none;
        color: green;
        font-size: 15px;
    
    }

    .corasel {
        padding: 200px;
     }
     .corasel h1 {
         color: brown;
     }
     
     .corasel p {
         color: orange;
         text-align: center;
         font-size: 24px;
     }
     