
.navbar-brand a {
    color: blue;
}
.index_abt {
    text-align: center;
    padding-bottom: 60px;
   
    
  }

  .our_service p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #898989;
    padding-top: 0px;
    line-height: 26px;
    text-align: center;
    font-weight: 500;
  }
  .our_service h2 {
    text-align: center;
    padding: 50px 0px 0px 0px;
    font-size: 16px;
    font-weight: bold;
}
.service_pictures h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6em;
    font-weight: bold;
    font-size: 16px;
    
}
.our_main_service {
    padding: 20px 0px 20px 0px;
    margin-bottom: 0px;
   
  }
  .our_main_service li {
    font-size: 14px;
    color: #8e8d8d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 29px;
    margin: 0 0 10px;
    padding-left: 8%;

  }
   .our_main_service h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.580em;
    color: #fff;
    position: relative;
    padding-top: 47px;
    word-spacing: 6px;
    padding-bottom: 38px;
    padding-left: 8%;
    padding-right: 30px;
   } 

   .we_are_deatai img {
   clear: both;
  }



  .message {
    padding: 10%;
}
.message h1 {
    color: brown;
    text-align: center;
    font-weight: bolder;
    font-size: 34px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.message p {
    color: wheat;
    text-align: center;
    padding-bottom: 20px;
    font-size: 17px;
}

.message h2 {
  color: chocolate;
  text-align: center;
  font-weight: bold;
  width: auto;
}
.message h4 {
    padding: 30px 10px 10px 10px;
   text-align: center;
}
.message h4 a {
    background: #212529;
    padding: 10px 20px 10px 20px;
    color: wheat;
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;

}

.message h4 a :hover {
    background-color: gainsboro;
    color: gainsboro;
}

.project button {
    text-align: center;
    border:1px solid chartreuse;
    padding-bottom: 3%;
    background:chartreuse; 
    color: #092c41;
    border-radius: 2em;
    font-weight: bold;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
}

.project {
    margin-top: 40px;
    padding: 5%;
    text-align: center;
}
.project video {
    padding-top: 60px;
    text-align: center;
    width: 100%;
    height: 20%;
}



.service_img h2 {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 35px;
  } 
.service_img p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #898989;
    padding-top: 5px;
    line-height: 28px;
    padding-right: 7%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-bottom: 30%;
}

.testimonial {
    position: relative;
    width: 50%;
    padding-left: 40px;
  }
  .testimonial h3 {
      font-size: 17px;
      padding: 25px 0px 8px 0px;
  }
  .testimonial a {
    
    color: rgb(150, 61, 61);
    text-decoration: none;
}
  
  .image {
    display: block;
    width: 84%;
    height: 50%;
    
  }
  
 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    right: 0;
    height: 50%;
    width: 84%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .testimonial:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .testiheader {
      padding-left: 40px;
      padding-top: 100px;
      padding-bottom: 30px;
  }
  .testiheader p {
      color: chocolate;
  }
  /********mobile testimonial***************************/
.mtestimonial {
    position: relative;
    width: 100%;
    padding-left: 10%;
    padding-bottom: 80px;
  }
  
  .mimage {
    display: block;
    width: 85%;
    height: 78%;
    padding-bottom: 0px;
  }
  

  .mtestiheader {
      padding-left: 10%;
      padding-top: 100px;
      padding-bottom: 30px;
  }
  .mtestiheader p {
      color: chocolate;
  }
  .mtestimonial h3 {
    font-size: 20px;
    padding: 40px 20px 8px 0px;
    
}
.mtestimonial p {
    padding-right: 25px;
}
.mtestimonial button {
    background: red;
    color: white;
}
.searchfor h1 {
  font-size: 25px;
  color: white;
  font-family: "Roboto",sans-serif;
  line-height: 1.5em;
  padding-right: 200px;
  padding-left: 20px;
}
.searchfor {
  background: #030615;
  padding: 100px 20px 100px 20px;
  display: flex;
}
.searchfor button {
  padding: 10px 40px 10px 40px;
  background: #f8f9fa;
}
.prohead {
  text-align: center;
}
.prohead p {
      color: chocolate;
      padding-top: 100px;
}
.prohead h3 {
 padding-bottom: 30px;
}
/********Mobile properies*********/
.mprohead {
  text-align: center;
}
.mprohead p {
  color: chocolate;
  padding-top: 50px;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mprohead h3 {
padding-bottom: 30px;
font-size: 35px;
}